
.gifContainer {
    margin-right: .5rem;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
}

.gifContainer:hover {
    cursor: pointer;
}

.gifContainer img {
    object-fit: fill;
}

.gifContainer span {
    color: black;
    font-size: 12px;
    margin-top: .5rem;
}
