
.gifContainer {
    text-decoration: none;
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    width: 22%;
    margin-bottom: 1rem;
    margin-left: .5rem;
    height: 250px;
}

.gifContainer:hover {
    cursor: pointer;
    transition: all 0.2s ease;
    transform: scale(1.01);
    box-shadow: 0 0 10px 0 rgba(0,0, 0,0.8);
}

.gifContainer img {
    object-fit: fill;
}

.img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: grey;
    background-repeat: no-repeat;
    background-position: top;
}

.gifContainer span {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    display: none;
}

.gifContainer:hover span {
    display: block;
}

@media (max-width: 60rem) { 

    .gifContainer {
        width: 48%;
    }
}

@media (max-width:30rem) {
    .gifContainer {
        width: 100%;
    }
    
}