

.featuredGifContainer {
    width: 75%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.featuredGifContainer h3 {
    color: black;
}

.featuredGifs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 385px;
    overflow: auto;
    position: relative;
    margin-top: .5rem;
}