

.searchDiv {
    width: 100%;
    /* height: 10vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b82f6;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 21;
    padding: 1rem;

}

.container {
    width: 75vw;
    position: relative;
}

.searchDivHeading {
    font-size: 25px;
    letter-spacing: 2px;
    color: #3b82f6;
    font-weight: lighter;
    position: absolute;
    z-index: -1;    
   
}

.searchbarInput {
    width: 100%;
    padding: 0.6rem 1rem;
    outline: none;
    font: inherit;
    border: none;
    border-radius: 5px;
}

.searchbarInput::placeholder {
    letter-spacing: 1px;
    font: inherit;
    font-weight: bold;
}

.searchContainer {
    border-radius: 5px;
    border: 1px solid grey;
}

.searchSuggestions {
    position: absolute;
    width: 100%;
    left: 0px;
    top:47px;
    bottom: 10px; 
    animation: drop 1s ease-in .5s forwards;
    transform: scale(0);
}

.searchSuggestions ul {
    list-style: none;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 0 10px 0;
    height: 250px;
    overflow: auto;
}

.searchSuggestions ul li {
 
   padding: 10px;
   text-transform: capitalize;
   cursor: pointer;
   color: black;
}

.searchSuggestions ul li:not(:last-child) {
    margin-bottom: .35rem;
}

.searchSuggestions ul li:hover {
    background-color: #e2e8f0;

}

.searchIcon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.47rem;
    width: 3.1rem;
    top: 1px;
    right: 0px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    border-left: 1px solid grey;
    background: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 2;
}

.searchIcon:focus {
    border: 1px solid #172554;
}

.selected {
    background-color: #e2e8f0;
}

@media (max-width: 40rem) {
    .container {
        width: 90%;
    }
    
}

@keyframes drop {
    to {
        transform: scale(1);
    }
    
}