

.searchDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b82f6;
    height: 80px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 21;

}

.container {
    width: 75%;
}

.searchDivHeading {
    font-size: 25px;
    letter-spacing: 2px;
    color: #3b82f6;
    font-weight: lighter;
    position: absolute;
    z-index: -1;    
   
}

.searchbarInput {
    width: 95.6%;
    padding: 0.6rem 1rem;
    outline: none;
    font: inherit;
    border: none;
}

.searchbarInput::placeholder {
    letter-spacing: 1px;
    font: inherit;
    font-weight: bold;
}

.searchbarInput:focus {
    border: 1px solid black;
}

.searchContainer {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid grey;
}

.searchIcon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.65rem;
    width: 3.1rem;
    top: -1.9px;
    right: -1px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    border-left: 1px solid grey;
    background: white;
}

.searchIcon:focus {
    border: 1px solid #172554;
}

@media (max-width: 40rem) {
    .container {
        width: 90%;
    }
    
}