.carouselContainer {
    width: 100%;
    position: relative;
    z-index: 10;
}

.carouselDiv {
    width: 92%;
    margin: auto;
    overflow: hidden;
  
}

.carousel {
    margin: auto;
    position: relative;
    left: 0px;
    transition: all 0.5s ease;
    z-index: 10;
    gap: 1rem;
    white-space: nowrap;
}


.carouselCtrl {
    position: absolute;
    width: 25px;
    height: 100%;
    border: 1px solid #94a3b8;
    border-radius: 5px;
    color: #1e293b;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d1d5db;
}

.carouselCtrl:hover {
    cursor: pointer;
}

.left {
    left: -9px;
    /* top: 122px; */
}

 .right {
    right: -18px;
    top: 0px;
} 

.disabled {
    pointer-events: none;
    background: #dde5f1;
    opacity: 0.5;

}


@media (max-width: 65) {
    .left {
        left: -13px;
        /* top: 70px; */
    }

    .right {
        right: -18px;
        /* top: 70px; */
    }

    
}

@media (max-width: 60rem) {

    .left {
        left: -13px;
        /* top: 90px; */
    }

    .right {
        right: -18px;
        /* top: 90px; */
    }

    
}

@media (max-width: 30rem) {

    .carousel {
        overflow: auto;
    }

    .left {
       display: none;
    }

    .right {
      display: none;
    }
    
}