
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Montserrat:wght@100;700;800&family=Open+Sans:wght@300;700&family=Poppins:wght@100&family=Roboto&family=Roboto+Slab:wght@300;400;500&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
 min-height: 100vw;
 color: #ccc;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Inter', sans-serif;

}

